// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cards {
  display: flex;
}

.card {
  background-color: #3689DE;
  color: white;
  padding: 20px;
  margin:  5px;
  border: 2px solid black;
}

.card:hover {
  color: purple;
  background-color: white;
}

.title {
  font-weight: bold;
  color: #3689DE;
}

.valid {
  color: green;
}

.error {
  color: red;
}
